---
Checks: '-*,readability-magic-numbers,modernize-use-auto,cppcoreguidelines-pro-type-cstyle-cast,cppcoreguidelines-init-variables'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;8;16;32;42;100'