---
Checks: '-*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-member-init,
  -clang-analyzer-*,
  misc-*,
  -misc-include-cleaner'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;8;16;32;100'
  - key: readability-magic-numbers.IgnoredFloatingPointValues  
    value: '1.0;2.0'
  - key: readability-identifier-naming.VariableCase
    value: 'lower_case'